/*--------------------------General formatting---------------------------*/

:root{
    --greyAndyB: #747474;
    --greenAndyB: #14a78c;
    --goldAndyB:  #ffe400;
    --blackAndyB: #272727;
}

@font-face {
    font-family: anotherBirdhouse;
    src: url("./Resources/Fonts/Another\ Birdhouse.ttf");
  }
@font-face {
    font-family: LouisGeorgeCafe;
    src: url("./Resources/Fonts/Louis\ George\ Cafe.ttf");
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: LouisGeorgeCafe;
    line-height: 1.2;
    user-select: none;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    overflow: hidden;
}

.pageTitle, .subheading{
    font-family: anotherBirdhouse;
    text-transform: uppercase;
    font-weight: lighter;
    word-spacing: 0.4em;
    font-size: 80px;
    margin: 20px;
    text-align: center;
    width: 100%;
}

p{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    margin: 20px auto;
    max-width: 1000px;
}
img {
    height: auto;
    border: 3px solid black;
    object-fit: cover;
}

a{
    font-weight: bold;
    cursor: pointer;
}

/*---------Header---------*/

.upperHeader{
    display: flex;
    height: 145px;
    width: 100%;
    background-color: var(--blackAndyB);
    color: var(--goldAndyB);
    align-items: center;
    justify-content: space-between;
}

.logoContainer{
    width: fit-content;
    height: fit-content;
    margin-left: 100px;
}
.logo{
    height: 135px;
    width: auto;
}
.logo:hover{
    opacity: 0.7;
}

.upperHeader a {
    display: block;
    justify-content: center;
    color: var(--goldAndyB);
    font-size: 1.7rem;
    margin: 10px auto;
}

.upperHeader a.phoneNum{
    display: inline-block;
    color: var(--goldAndyB);
}

.upperHeaderRight{
    display: flex;
    width: 700px;
    color:var(--greenAndyB);
}
.upperHeaderCentre{
    flex-grow: 1;
}
.upperHeaderLeft{
    display: flex;
    justify-content: flex-end;
    width: 400px;
    color:var(--greenAndyB);
}
.phoneNumners{
    justify-content: center;
}

.contactText{
    white-space:pre;
    cursor: pointer;
    transition-duration: 0.7s;
    margin: 0px 10px;

}
.contactText:hover{
    color: var(--greenAndyB);
    transition-duration: 0.3s;
}

/*---------Navbar---------*/

nav{
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    background-color: var(--greenAndyB);
    color: var(--blackAndyB);
    font-weight: 900;
}

.navBar{
    height: 45px;
    justify-content: center;
    display: flex;
}
.navBar a{
    color: var(--blackAndyB);
    display: inline-flex;
    align-items: center;
    font-size: 22px;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 20px;
    transition-duration: 0.5s;
}
.navBar a:hover{
    color: var(--goldAndyB);
    background-color: var(--blackAndyB);
    transition-duration: 0.5s;
}
.navBar .current{
    color: var(--greenAndyB);
    background-color: var(--blackAndyB);
}

/* other stuff*/

.container{
    text-align: center;
    margin: auto;
}

/*---------Footer-------*/
.socialMediaLinks{
    display: flex;
    justify-content: center;
    background-color: var(--blackAndyB);
}

.fab {
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
}
.fab:hover {
      opacity: 0.6;
      background-color: white;
}

.fa-facebook, .fa-facebook-messenger { color: #3b5998; }
.fa-twitter { color: #00aced; }
.fa-instagram { color: #517fa4; }
.fa-spotify { color: #1ed760; }
.fa-whatsapp { color: #1ed760; }
.fa-skype{ color:#00aff0;}
.footerCentre{
    margin: auto;
    bottom:0;
}

.PolicyContainer{
    font-size: 1rem;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    
}

/*--------------------------Home Page------------------------------*/

.homePage{
    flex-grow: 1;
}
#homePageTitle{
    font-size: 140px;
    margin: -20px auto;
    color: white;
    text-shadow: 
    -2px 2px 4px black, 
    2px 2px 4px black,
    2px -2px 0px black,
    -2px -2px 0px black;
}
.homePage .subheading{
    margin: -20px auto;
    color: white;
    text-shadow: 
    -2px 2px 4px black, 
    2px 2px 4px black,
    2px -2px 0px black,
    -2px -2px 0px black;
    font-size: 100px;
}
.homePage .pictureBanner{
    background-image: url("./Resources/Images/andyLawnFromHouse.JPG");
    background-position: 0% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 0;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.homeBlurb {
    width: 100%;
    text-align: center;
    padding: 20px 40px;
}








.main{
    display: flex;
    justify-content: space-around;
    height: fit-content;
    z-index: 10;
}
.mainCentre{
    z-index: 10;
    max-width: 1000px;
    flex-shrink: 1;
    justify-content: center;
    flex-direction: column;
}
.mainLeft{
    display: grid;
}
.mainLeftContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    top:100px;
    left: 0;
    justify-content: center;

}

.mainLeftContent{
    height: 80px;
    padding: 5px;
    display: contents;
    justify-content: center;
    
}

/*-----------Services Page----------*/
.mainImageDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    height: auto;
}
.mainImage{
    width: 100%;
}

.gallery {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
}

.thumbnail {
    width: 350px;
    min-height: 400px;
    /* border: var(--whiteAndyB) 1px solid; */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.thumbnail:hover {
  transform: scale(1.5);
  border: 2px solid black;
  z-index: 100;
}

.galleryZoom:hover{
  transform: scale(2);
  transition-duration: 0.5s;
}
.onZoom{
    display: none;
}


.thumbnail:hover .onZoom{
  display:block;
}
#service1{
    background-color: lightgray;
    transition-duration: 0.5s;
}
#service2{
  background-color: white;
  transition-duration: 0.5s;
}

.thumbnail img {
  margin: 0;
  padding: 0;
  height: 200px;
  overflow: hidden;
  border: none;
}
.serviceSubtitle{
  font-size: 22px;
  padding: 0 10px;
}

.serviceDescription{
  font-size: 22px;
  padding: 0 10px;
} 

.service-heading,
.photo-heading {
  font-size: 36px;
  font-weight: bold;
  color: var(--blackAndyB);
  margin: 10px auto;
  padding: 0;
}

/*-------------------About Page------------------*/

  .aboutSection img{
    width: 60%;
  }
  
  .aboutSection p{
    text-align: left;
    padding:2rem;
  }

  /*-------------------Gallery Page------------------*/

.imageScrollerDiv{
    display: flex;
    justify-content: space-around;
    margin: 20px;   
}

div#comparison { 
    width: 60vw;
    height: 60vw;
    max-width: 800px;
    max-height: 700px;
    overflow: hidden; 
    border: 0.2rem solid var(--blackAndyB);
}
div#comparison figure { 
    background-image: url(./Resources/TestScrollImage/before.png); 
    background-size: cover;
    position: relative;
    width: 100%; 
    height: 100%;
}

div#comparison figure > img { 
    position: relative;
    width: 100%;
}
div#comparison figure div { 
    background-image: url(./Resources/TestScrollImage/after.png);
    background-size: cover;
    position: absolute;
    width: 50%; 
    overflow: hidden;
    bottom: 0;
    height: 100%;
}
  
input[type=range]{
    -webkit-appearance:none;
    -moz-appearance:none;
    position: relative;
    top: -2rem; left: -2%;
    background-color: rgba(255,255,255,0.1);
    width: 102%; 
}
input[type=range]:focus { 
    outline: none; 
}
input[type=range]:active { 
    outline: none;  
}

.photo-heading {
margin-left: 0px;
}

#gallery-centre {
    width: 100%;
    max-width: 1400px;
}

.full-width-section {
    width: 100%;
    display: flex;
}

.feature-photo {
    width: 60%;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    padding: 20px;
    flex-shrink: 0;
}

.feature-photo img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.photos {
    width: 40%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.servicesPage .mainCentre{
    max-width: 1500px;
}
.galleryGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-photo {
    flex-shrink: 1;
    display: flex;
    height: 200px;
    margin-bottom: 20px;
}

.gallery-photo img {
    width: 50%;
}

.photo-info p {
    text-align: left;
    margin: 20px;
}

#gallery1 {
background-color: #74747457;
}

#gallery2 {
    flex-direction: row-reverse;
}

/*-------------------Review Page------------------*/

ul{
    list-style-type: none;
}

.reviewSection{
    margin: 2rem;
    height: 300px;
    width: 800px;
    opacity: 0.9;
}

.activeReview{
    width: 100%;
    height: 100%;
}
.reviews{
    background-color: black;
    width: 100%;
}
.reviewBank{
    height: 0;
    width: 0;
    visibility: hidden;
} 
.reviewTitle{
    font-weight: 900;
    font-size: 1.5rem;
    border: 2px solid black;
    color: var(--goldAndyB);
    margin: 0px;
    height: 40px;

}
.reviewText{
    font-size: 1.2rem;
    border: 2px solid black;
    height: 225px;
    padding: 20px;
    margin: 0;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.reviewScroller{
    height:35px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.reviewScroller button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--goldAndyB);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    outline: none;
}
.reviewScroller button:hover{
    transform: scale(1.5);
}

.buttonArrow{
    font-size: 1.4rem;
    font-weight: normal;
    margin:0;
    padding-bottom:3px;
    display: flex;
    align-items: center;
    border: none;
}

.leftButtonArrow::after{
    content: '<';
}
.rightButtonArrow::after{
    content: '>';
}

.reviewPage{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.reviewMain{
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;

}
.reviewBackgroundDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("./Resources/temporaryImages/reviewImage.jpeg");
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: 0% -50%;
    background-size: cover;
}


/*----------------------contact page-------------------------*/

.contactPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contactPage .main{
    flex-shrink: 0;
    flex-grow: 1;
}

.contactPage .mainImage{
    margin: 20px;
}

.sideLogo{
    display: none;
}